<!doctype html>
<html>
  <head>
    <script>
      function setDarkMode(isWanted) {
        if (Boolean(isWanted)) document.documentElement.classList.add("dark");
        else document.documentElement.classList.remove("dark");
      }

      function evalDarkMode() {
        const invert = localStorage.invertTheme === "true";
        const prefer = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        const useDark = invert ? !prefer : prefer;
        setDarkMode(useDark);
      }

      function toggleDarkMode() {
        localStorage.invertTheme =
          localStorage.invertTheme === "true" ? "false" : "true";
        evalDarkMode();
      }

      evalDarkMode();
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    {{- $stylesheets := slice "gruvbox" "chroma" "dist/style" }}
    {{- range $stylesheets }}
      {{- $path := fmt.Printf "css/%s.css" . }}
      {{- with resources.Get $path | minify | fingerprint -}}
        <link
          rel="stylesheet"
          href="{{ .RelPermalink }}"
          integrity="{{ .Data.Integrity }}"
        />
      {{ end }}
    {{ end }}

    {{- $javascripts := slice "navigation-menu" }}
    {{- range $javascripts }}
      {{- $path := fmt.Printf "js/%s.js" . }}
      {{- with resources.Get $path | minify | fingerprint }}
        <script
          src="{{ .RelPermalink }}"
          integrity="{{ .Data.Integrity }}"
        ></script>
      {{ end }}
    {{ end }}

    {{- $jsVendors := slice
      "https://cdn.jsdelivr.net/npm/@github/relative-time-element@4/dist/bundle.js"
      "https://cdn.jsdelivr.net/npm/instant.page@5/instantpage.min.js"
    }}
    {{- range $jsVendors }}
      {{- partial "vendor/js.html" . }}
    {{ end }}

    <!-- Search Engine Optimization (SEO) related tags -->
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="article" />
    <meta name="twitter:creator" content="@wilson" />
    <meta name="twitter:site" content="husin.dev" />

    {{ $desc := site.Params.Description }}
    {{- if .Params.Description }}
      {{ $desc = .Params.Description }}
    {{- end }}
    <meta property="description" content="{{ $desc }}" />
    <meta property="og:description" content="{{ $desc }}" />
    <meta name="twitter:description" content="{{ $desc }}" />

    {{ with resources.Get "img/pp.webp" }}
      {{ with .Resize "32x" | fingerprint }}
        <link rel="icon" type="image/webp" href="{{ .RelPermalink }}" />
      {{ end }}
    {{ end }}
    {{ block "image_preview" . }}
      {{ $imgPreview := resources.Get "img/pp.webp" | fingerprint }}
      <meta property="og:image" content="{{ $imgPreview.RelPermalink }}" />
      <meta property="og:image:alt" content="Profile picture of {{ site.Title }}" />
      <meta property="twitter:image" content="{{ $imgPreview.RelPermalink }}" />
    {{ end }}

    <title>
      {{ block "title" . }}
        {{- if .Params.hide_site_title -}}
          {{ .Page.Title }}
        {{- else if .Page.Title -}}
          {{- if eq .Page.Kind "term" }}#{{- end -}}{{- .Page.Title }} | {{ .Site.Title }}
        {{- else -}}
          {{ .Site.Title }}
        {{- end -}}
      {{ end }}
    </title>

    {{ block "head" . }}{{ end }}
  </head>

  <body class="px-4 bg-bg-hard text-default pb-8 text-base">
    {{ partial "nav.html" . }}
    {{ block "main" . }}{{ end }}
    {{ block "footer" . }}{{ end }}
  </body>
</html>
