{{ define "head" }}
{{ end }}

{{ define "main" }}
  {{ .Content }}
  {{ if .Page.Params.expandChildren }}
    {{ range sort (.Pages) "Lastmod" "desc" }}
      <article>
        <h2
          id="{{ .File.BaseFileName | urlize }}"
          style="display: inline-block; vertical-align: middle;"
        >
          {{ .Title }}
          <a href="#{{ .File.BaseFileName | urlize }}">#</a>
          {{ partial "share.html" .RelPermalink -}}
        </h2>
        {{ .Content }}
      </article>
    {{ end }}
  {{ else }}
    {{ range (.Pages.GroupByLastmod "2006") }}
      <table class="dated-entries">
        <thead>
          <td colspan="2">
            <h2 id="{{ .Key }}">{{ .Key }} <a href="#{{ .Key }}">¶</a></h2>
          </td>
        </thead>
        <tbody>
          {{ range sort (.Pages) "Lastmod" "desc" }}
            <tr>
              <td>{{ time.Format "Jan 2" .Lastmod.UTC }}</td>
              <td><a href="{{ .RelPermalink }}">{{ .Title }}</a></td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    {{ end }}
  {{ end }}
{{ end }}
