{{ define "main" }}
<article class="max-w-7xl mx-auto">
  <header class="mt-4 mb-2 md:ml-4 max-w-[64ch]">
    <h1
      class="md:-ml-2 text-4xl md:text-6xl font-bold tracking-tighter font-industrial text-fg1 leading-none"
    >
      {{- .Page.Title -}}
    </h1>
    {{- if .Page.Description }}
      <h3 class="not-prose text-fg4 font-medium mt-4">
        {{- .Page.Description | markdownify -}}
      </h3>
    {{- end }}
    <div class="flex items-center">
      <div class="flex tags justify-end items-center text-xs font-light my-2">
        {{ range .GetTerms "tags" }}
        <a
          href="{{ .RelPermalink }}"
          class="tag-{{ .LinkTitle }} text-xs px-0.5"
        >
          #{{ .LinkTitle }}
        </a>
        {{ end }}
      </div>
      <hr class="text-yellow-dim max-w-[48rem] flex-grow my-8 mx-1.5" />
      <span class="not-prose text-fg4 text-xs font-serif font-semibold rounded-full">
        {{- time.Format "January 2, 2006" .Page.Date.UTC -}}
      </span>
    </div>
  </header>
  <div class="prose text-sm px-1 md:ml-8">{{- .Content }}</div>
</article>
{{ end }}
