{{ define "main" }}
  <article class="mx-auto max-w-7xl">
    <header class="mb-2 mt-4 max-w-[64ch] md:ml-4">
      <h1
        class="font-industrial text-4xl font-bold leading-none tracking-tighter text-fg1 md:-ml-2 md:text-6xl"
      >
        {{- .Page.Title -}}
      </h1>
      {{- if .Page.Description }}
        <h3 class="not-prose mt-4 font-medium text-fg4">
          {{- .Page.Description | markdownify -}}
        </h3>
      {{- end }}
      {{- with .Param "header" -}}
        {{ $f := $.Resources.GetMatch .src }}
        {{ $f = $f.Process "webp" | fingerprint }}
        <img class="my-4" src="{{ $f.RelPermalink }}" alt="{{ .alt }}" />
      {{- end -}}
      <div class="flex items-center">
        <div class="tags my-2 flex items-center justify-end text-xs font-light">
          {{ range .GetTerms "tags" }}
            <a
              href="{{ .RelPermalink }}"
              class="tag-{{ .LinkTitle }} px-0.5 text-xs"
            >
              #{{ .LinkTitle }}
            </a>
          {{ end }}
        </div>
        <hr class="mx-1.5 my-8 max-w-[48rem] flex-grow text-yellow-dim" />
        <span
          class="not-prose rounded-full font-serif text-sm font-semibold text-fg4"
        >
          {{- time.Format "January 2, 2006" .Page.Date.UTC -}}
        </span>
      </div>
    </header>
    <div class="prose px-1 text-sm md:ml-8">{{- .Content }}</div>
  </article>
{{ end }}
