@import "./sizes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-default {
    @apply text-fg2;
  }

  .text-link {
    @apply text-fg3;
  }
  .group:hover .text-link,
  .text-link:hover {
    @apply text-orange;
  }

  body {
    @apply transition;
  }

  /* Navigation bar */
  nav {
    /* Lucide icons */
    & .lucide {
      min-height: 1.4rem;

      &:hover {
        fill: currentColor;
      }
    }

    & .text-link:hover .lucide {
      fill: currentColor;
    }

    & .lucide-moon {
      @apply inline-block dark:hidden;
    }

    & .lucide-sun {
      @apply hidden dark:inline-block;
    }

    /* Navigation menu items */
    & a.text-link {
      &:after {
        content: "";
        background: transparent;
        display: block;
        height: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -8px;
        transition:
          width 0.1s ease,
          background-color 0.1s ease;
        width: 0px;
      }

      &:hover:after {
        width: 100%;
        opacity: 50%;
        @apply bg-yellow-dim;
      }
    }

    /* Mobile menu */
    & .menu-screen {
      z-index: 0;
      height: calc(100vh - 20px);
      opacity: 0;

      & .lucide {
        min-height: 2rem;
      }

      &.menu-screen-show {
        z-index: 100;
        opacity: 100;
      }
    }

    & .lucide-hamburger {
      min-height: 2.5rem;
      padding: 0.5rem;

      &.show {
        @apply bg-orange-dim hover:bg-orange text-bg-hard hover:text-bg-soft rounded;
      }
    }
  }

  /* Tag keywords */
  .tags {
    & .tag-golang {
      @apply text-blue;
    }
    & .tag-meta {
      @apply text-orange;
    }
    & .tag-projects {
      @apply text-aqua;
    }
    & .tag-management {
      @apply text-purple;
    }
  }

  /* Callout boxes */
  .callout {
    @apply border-bg2;

    & .lucide {
      height: 1.5rem;
      width: 1.5rem;
      padding: 0.1rem;
      margin-right: 0.5rem;
    }

    &.info .lucide {
      @apply text-yellow;
    }

    &.testimonial .lucide {
      @apply text-red;
    }

    &.palette .lucide {
      @apply text-orange;
    }

    &.play .lucide {
      @apply text-blue;
    }

    &.coins .lucide {
      @apply text-green;
    }

    &.timer .lucide {
      @apply text-aqua;
    }
  }

  /* Heading anchors */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:has(> a.anchor) {
      & > .anchor {
        display: none;
      }
      &:hover > a.anchor {
        display: inline-block;
        @apply text-orange no-underline;
      }
    }
  }

  /* External links */
  a[href^="http://"]:after, 
  a[href^="https://"]:after
  {
    content: " 🡭";
    @apply text-xs;
  }

  /* Rendered markdown content */
  .prose {
    & pre {
      @apply border rounded border-bg1 hover:border-bg4;
    }

    & h4 {
      @apply font-black uppercase;
    }
    & h5 {
      @apply font-extrabold uppercase;
    }
    & h6 {
      @apply font-semibold uppercase;
    }

    & a {
      @apply decoration-yellow-dim underline-offset-2 transition-colors;

      &:hover {
        @apply text-orange-dim;
      }
    }

    & del {
      @apply text-fg4;
    }
  }

  /* Mini posts */
  article.mini > .prose.prose-sm {
    @apply text-fg3;

    & blockquote, p {
      @apply my-1;
    }
  }
}
