{{ define "main" }}
  <main class="mx-auto max-w-7xl">
    <article class="mb-8">
      <header class="tags my-4">
        <h1
          class="tag-{{- .Page.Title }} font-industrial text-4xl font-bold leading-none tracking-tight text-fg1"
        >
          #{{- .Page.Title -}}
        </h1>
      </header>
      <div class="prose px-1 text-sm font-medium text-fg4 md:ml-8">
        {{- .Content }}
        <hr />
      </div>
    </article>
    {{ range (.Pages.GroupByDate "2006") }}
      {{ if not (eq .Key "0001") }}
        <h2
          id="{{ .Key }}"
          class="mt-2 font-serif text-xl text-fg3 hover:text-fg1"
        >
          {{ .Key }} <a class="anchor" href="#{{ .Key }}">¶</a>
        </h2>
      {{- end }}
      <div class="max-w-[48rem] text-sm text-fg4">
        {{- range sort .Pages "Date" "desc" -}}
          <a
            href="{{ .RelPermalink }}"
            class="group flex w-full items-baseline justify-between py-1"
          >
            <span
              class="w-[7ch] shrink-0 pr-2 text-right font-serif font-light group-hover:text-fg2"
            >
              {{- with (cond .Date.IsZero time.Now .Date.UTC) }}
                {{- time.Format "Jan 2" . -}}
              {{- end }}
            </span>
            <div class="flex flex-grow justify-between">
              <span
                class="font-semibold decoration-yellow-dim group-hover:text-fg0 group-hover:underline"
              >
                {{- .Title -}}
              </span>
            </div>
          </a>
        {{ end }}
      </div>
    {{ end }}
  </main>
{{ end }}
