<nav class="flex justify-between items-center gap-4 text-center mb-4 text-sm max-w-7xl mx-auto">
  <a href="/" class="flex items-center gap-2 mr-2 font-bold group text-lg">
    {{ with resources.Get "img/pp.webp" }}
      {{ with .Resize "128x" | fingerprint "md5" }}
        <img src="{{ .RelPermalink }}"
          alt="Profile picture icon"
          class="h-8 rounded-[1em] group-hover:rounded-sm duration-150" />
      {{ end }}
    {{ end }}
    <span class="text-link duration-150">
      {{ .Site.Title }}
    </span>
  </a>
  <div class="hidden md:grid grid-flow-col gap-1 items-center ml-auto font-medium">
    {{ range $i, $e := .Site.Menus.main }}
      <a href="{{ .URL }}" class="px-2 text-link"><span>{{ .Title }}</span></a>
    {{ end }}
  </div>
  <button class="hidden md:flex h-fit p-1 items-center text-link" title="Toggle light / dark theme." onclick="toggleDarkMode()">
    {{ with resources.Get "icon/lightbulb.svg" }}
      {{ .Content | safeHTML }}
    {{ end }}
    {{ with resources.Get "icon/moon.svg"}}
      {{ .Content | safeHTML }}
    {{ end }}
  </button>
  <button class="flex md:hidden">
    {{ with resources.Get "icon/grip.svg"}}
      {{ .Content | safeHTML }}
    {{ end }}
  </button>
</nav>
