{{- define "title" }}
  Not found |
  {{ .Site.Title }}
{{- end }}

{{ define "main" }}
  <main
    class="mx-auto flex max-w-7xl flex-col items-center justify-center gap-16"
  >
    <div class="text-center">
      <h1 class="text-6xl">¯\_(ツ)_/¯</h1>
      <h2 class="text-2xl text-fg4">Can't find what you're looking for</h2>
    </div>
    <a
      href="{{ "" | relURL }}"
      class="group rounded-md border border-yellow p-2 text-fg4 hover:border-yellow-dim hover:text-fg1"
    >
      <span class="group-hover:text-orange">←</span> Home
    </a>
  </main>
{{ end }}
